@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}   

/* Header Styling */

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.header-links {
    font-size: 18px;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Header Styling End */

/* Hero Styling */

.hero {
    background-color: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: red;
}

.hero-left {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: red;
}

.hero-right img {
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
}

.hero-right {
    border-style: solid;
    border-color: red;
}
.hero-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

