@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}   

/* Header Styling */

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}

.header-links {
    font-size: 18px;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Header Styling End */

/* Hero Styling */

.hero {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    border-style: solid;
    border-color: red;
}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    border-style: solid;
    border-color: red;
}

.hero-right img {
    width: 100%;
}

.hero-right {
    border-style: solid;
    border-color: red;
    display: flex;
    flex: 1;
    justify-content: center;
}

.hero-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left button {
    align-self: flex-start;
    background-color: #3882f6;
    border-radius: 5px;
    color:#F9FAF8;
}

/* Hero Styling End */

/* Info Styling */

.info-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.information {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px 100px;
    gap: 15px;
    border-style: solid;
    border-color: red;
}

.info-items {
    max-width: 200px;
    border-style: solid;
    border-color: red;
}

.info-items img {
    width: 100%;
    border-radius: 5px;
}

/* Info Styling End */

/* Quote Styling */

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic; 
}

.quotee {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

/* Quote Styling End */

/* Call to Action Styling */

.cta {
    background-color: #3882f6;
    margin: 30px 60px;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text, .cta-subtext {
    color: #E5E7EB;
}

.cta button {
    align-self: flex-start;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: white;
}

/* Call to Action Styling End */

/* Footer Styling */

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
